<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="url shortner" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header> SHORT URL </header>

    <main>

        <section>
            <form action="/" method="post">
                <div>
                    <input type="text"  name="url" id="name" placeholder="Paste the link here"  />
                    <div>
                        <input type="submit" id="but1" value="shorten url" />
                    </div>
                </div>
            </form>
        </section>

    </main>

</body>

</html>